/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h3,
h4 {
  font-family: "Quicksand", sans-serif;
}

h2 {
  font-family: "Instrument Serif", serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
